<ServerCustomConfig>
  <Log>
    <!-- Level possible values : DEBUG, INFO, WARNING, ERROR -->
    <Level>DEBUG</Level>
    <!-- Destination possible values : CONSOLE, FILE, FILE_AND_CONSOLE -->
    <Destination>CONSOLE</Destination>
    <OutputDirectory>D:\RTS-Logs</OutputDirectory>
	<OutputFileName>WorldServerLog</OutputFileName>
  </Log>
  <Database>
	<Host>localhost</Host>
	<Port>3306</Port>
	<DatabaseName>paa2bimh5m</DatabaseName>
	<User>root</User>
	<Password>Overdose1452</Password>
  </Database>
</ServerCustomConfig> 