<ServerCustomConfig>
  <Log>
    <!-- Level possible values : DEBUG, INFO, WARNING, ERROR -->
    <Level>DEBUG</Level>
    <!-- Destination possible values : CONSOLE, FILE, FILE_AND_CONSOLE -->
	<Destination>CONSOLE</Destination>
    <OutputDirectory>D:\00-Temporary\Logs\Threads</OutputDirectory>
	<OutputFileName>WorldServerLog</OutputFileName>
  </Log>
  <Database>
	<Host>localhost</Host>
	<Port>3306</Port>
	<DatabaseName>rts</DatabaseName>
	<User>svcrtsserver</User>
	<Password>Dokqzd564qzd!:qzd</Password>
  </Database>
</ServerCustomConfig> 