# =============== #
# Common          #
# =============== # 



# =============== #
# Unity Project   #
# =============== #

01-UnityProject/Temp
01-UnityProject/Library/
01-UnityProject/ExportedObj/
01-UnityProject/obj/
01-UnityProject/*.svd
01-UnityProject/*.userprefs
01-UnityProject/*.csproj
01-UnityProject/*.pidb
01-UnityProject/*.suo
01-UnityProject/*.sln
01-UnityProject/*.user
01-UnityProject/*.unityproj
01-UnityProject/*.booproj
01-UnityProject/.vs*

01-UnityProject/Assets/Librairies/RTS/

01-UnityProject/Library/shadercompiler-UnityShaderCompiler.exe0.log
01-UnityProject/Assets/Librairies/RTS/RTS.DarkRift.Messages.pdb
01-UnityProject/Assets/Librairies/RTS/RTS.DarkRift.Messages.dll.mdb
01-UnityProject/Assets/Librairies/RTS/RTS.DarkRift.Messages.pdb
01-UnityProject/Assets/Librairies/RTS/RTS.Server.Messages.pdb
01-UnityProject/Assets/Librairies/RTS/RTS.Server.Messages.dll.mdb
01-UnityProject/Assets/Librairies/RTS/RTS.Server.Messages.pdb

# When darkrift is launched from unity
01-UnityProject/Data/*
01-UnityProject/Logs/*
01-UnityProject/Assets/StreamingAssets/AssetBundles/*

# ===============    #
# RTS.Engine	     #
# ===============    #

02-RTSEngine/obj/
02-RTSEngine/*.svd
02-RTSEngine/*.userprefs
02-RTSEngine/*.pidb
02-RTSEngine/*.suo
02-RTSEngine/*.user
02-RTSEngine/*.unityproj
02-RTSEngine/*.booproj
02-RTSEngine/.vs*
02-RTSEngine/bin

02-RTSEngine/RTS/obj/
02-RTSEngine/RTS/*.svd
02-RTSEngine/RTS/*.userprefs
02-RTSEngine/RTS/*.pidb
02-RTSEngine/RTS/*.suo
02-RTSEngine/RTS/*.user
02-RTSEngine/RTS/*.unityproj
02-RTSEngine/RTS/*.booproj
02-RTSEngine/RTS/.vs*
02-RTSEngine/RTS/bin/

02-RTSEngine/RTS.Database/obj/
02-RTSEngine/RTS.Database/*.svd
02-RTSEngine/RTS.Database/*.userprefs
02-RTSEngine/RTS.Database/*.pidb
02-RTSEngine/RTS.Database/*.suo
02-RTSEngine/RTS.Database/*.user
02-RTSEngine/RTS.Database/*.unityproj
02-RTSEngine/RTS.Database/*.booproj
02-RTSEngine/RTS.Database/.vs*
02-RTSEngine/RTS.Database/bin/

02-RTSEngine/RTS.Database.Tests/obj/
02-RTSEngine/RTS.Database.Tests/*.svd
02-RTSEngine/RTS.Database.Tests/*.userprefs
02-RTSEngine/RTS.Database.Tests/*.pidb
02-RTSEngine/RTS.Database.Tests/*.suo
02-RTSEngine/RTS.Database.Tests/*.user
02-RTSEngine/RTS.Database.Tests/*.unityproj
02-RTSEngine/RTS.Database.Tests/*.booproj
02-RTSEngine/RTS.Database.Tests/.vs*
02-RTSEngine/RTS.Database.Tests/bin/*
02-RTSEngine/RTS.Database.Tests/bin/Debug/*

02-RTSEngine/RTS.Models/obj/
02-RTSEngine/RTS.Models/*.svd
02-RTSEngine/RTS.Models/*.userprefs
02-RTSEngine/RTS.Models/*.pidb
02-RTSEngine/RTS.Models/*.suo
02-RTSEngine/RTS.Models/*.user
02-RTSEngine/RTS.Models/*.unityproj
02-RTSEngine/RTS.Models/*.booproj
02-RTSEngine/RTS.Models/.vs*
02-RTSEngine/RTS.Models/bin/

02-RTSEngine/RTS.Models.Server/obj/
02-RTSEngine/RTS.Models.Server/*.svd
02-RTSEngine/RTS.Models.Server/*.userprefs
02-RTSEngine/RTS.Models.Server/*.pidb
02-RTSEngine/RTS.Models.Server/*.suo
02-RTSEngine/RTS.Models.Server/*.user
02-RTSEngine/RTS.Models.Server/*.unityproj
02-RTSEngine/RTS.Models.Server/*.booproj
02-RTSEngine/RTS.Models.Server/.vs*
02-RTSEngine/RTS.Models.Server/bin/

02-RTSEngine/RTS.Configuration/obj/
02-RTSEngine/RTS.Configuration/*.svd
02-RTSEngine/RTS.Configuration/*.userprefs
02-RTSEngine/RTS.Configuration/*.pidb
02-RTSEngine/RTS.Configuration/*.suo
02-RTSEngine/RTS.Configuration/*.user
02-RTSEngine/RTS.Configuration/*.unityproj
02-RTSEngine/RTS.Configuration/*.booproj
02-RTSEngine/RTS.Configuration/.vs*
02-RTSEngine/RTS.Configuration/bin/

02-RTSEngine/RTS.Simulator/obj/
02-RTSEngine/RTS.Simulator/*.svd
02-RTSEngine/RTS.Simulator/*.userprefs
02-RTSEngine/RTS.Simulator/*.pidb
02-RTSEngine/RTS.Simulator/*.suo
02-RTSEngine/RTS.Simulator/*.user
02-RTSEngine/RTS.Simulator/*.unityproj
02-RTSEngine/RTS.Simulator/*.booproj
02-RTSEngine/RTS.Simulator/.vs*
02-RTSEngine/RTS.Simulator/bin/

02-RTSEngine/RTS.Database.Extraction/obj/
02-RTSEngine/RTS.Database.Extraction/*.svd
02-RTSEngine/RTS.Database.Extraction/*.userprefs
02-RTSEngine/RTS.Database.Extraction/*.pidb
02-RTSEngine/RTS.Database.Extraction/*.suo
02-RTSEngine/RTS.Database.Extraction/*.user
02-RTSEngine/RTS.Database.Extraction/*.unityproj
02-RTSEngine/RTS.Database.Extraction/*.booproj
02-RTSEngine/RTS.Database.Extraction/.vs*
02-RTSEngine/RTS.Database.Extraction/bin/

02-RTSEngine/RTS.DarkRift.Plugins/obj/
02-RTSEngine/RTS.DarkRift.Plugins/*.svd
02-RTSEngine/RTS.DarkRift.Plugins/*.userprefs
02-RTSEngine/RTS.DarkRift.Plugins/*.pidb
02-RTSEngine/RTS.DarkRift.Plugins/*.suo
02-RTSEngine/RTS.DarkRift.Plugins/*.user
02-RTSEngine/RTS.DarkRift.Plugins/*.unityproj
02-RTSEngine/RTS.DarkRift.Plugins/*.booproj
02-RTSEngine/RTS.DarkRift.Plugins/.vs*
02-RTSEngine/RTS.DarkRift.Plugins/bin/

02-RTSEngine/RTS.DarkRift.Messages/obj/
02-RTSEngine/RTS.DarkRift.Messages/*.svd
02-RTSEngine/RTS.DarkRift.Messages/*.userprefs
02-RTSEngine/RTS.DarkRift.Messages/*.pidb
02-RTSEngine/RTS.DarkRift.Messages/*.suo
02-RTSEngine/RTS.DarkRift.Messages/*.user
02-RTSEngine/RTS.DarkRift.Messages/*.unityproj
02-RTSEngine/RTS.DarkRift.Messages/*.booproj
02-RTSEngine/RTS.DarkRift.Messages/.vs*
02-RTSEngine/RTS.DarkRift.Messages/bin/

02-RTSEngine/RTS.DarkRift.Server.Console/obj/
02-RTSEngine/RTS.DarkRift.Server.Console/*.svd
02-RTSEngine/RTS.DarkRift.Server.Console/*.userprefs
02-RTSEngine/RTS.DarkRift.Server.Console/*.pidb
02-RTSEngine/RTS.DarkRift.Server.Console/*.suo
02-RTSEngine/RTS.DarkRift.Server.Console/*.user
02-RTSEngine/RTS.DarkRift.Server.Console/*.unityproj
02-RTSEngine/RTS.DarkRift.Server.Console/*.booproj
02-RTSEngine/RTS.DarkRift.Server.Console/.vs*
02-RTSEngine/RTS.DarkRift.Server.Console/bin/

02-RTSEngine/RTS.DarkRift.Server/obj/
02-RTSEngine/RTS.DarkRift.Server/*.svd
02-RTSEngine/RTS.DarkRift.Server/*.userprefs
02-RTSEngine/RTS.DarkRift.Server/*.pidb
02-RTSEngine/RTS.DarkRift.Server/*.suo
02-RTSEngine/RTS.DarkRift.Server/*.user
02-RTSEngine/RTS.DarkRift.Server/*.unityproj
02-RTSEngine/RTS.DarkRift.Server/*.booproj
02-RTSEngine/RTS.DarkRift.Server/.vs*
02-RTSEngine/RTS.DarkRift.Server/bin/

02-RTSEngine/RTS.DarkRift.Server.GameServer/obj/
02-RTSEngine/RTS.DarkRift.Server.GameServer/*.svd
02-RTSEngine/RTS.DarkRift.Server.GameServer/*.userprefs
02-RTSEngine/RTS.DarkRift.Server.GameServer/*.pidb
02-RTSEngine/RTS.DarkRift.Server.GameServer/*.suo
02-RTSEngine/RTS.DarkRift.Server.GameServer/*.user
02-RTSEngine/RTS.DarkRift.Server.GameServer/*.unityproj
02-RTSEngine/RTS.DarkRift.Server.GameServer/*.booproj
02-RTSEngine/RTS.DarkRift.Server.GameServer/.vs*
02-RTSEngine/RTS.DarkRift.Server.GameServer/bin/

02-RTSEngine/RTS.DarkRift.Server.LoginServer/obj/
02-RTSEngine/RTS.DarkRift.Server.LoginServer/*.svd
02-RTSEngine/RTS.DarkRift.Server.LoginServer/*.userprefs
02-RTSEngine/RTS.DarkRift.Server.LoginServer/*.pidb
02-RTSEngine/RTS.DarkRift.Server.LoginServer/*.suo
02-RTSEngine/RTS.DarkRift.Server.LoginServer/*.user
02-RTSEngine/RTS.DarkRift.Server.LoginServer/*.unityproj
02-RTSEngine/RTS.DarkRift.Server.LoginServer/*.booproj
02-RTSEngine/RTS.DarkRift.Server.LoginServer/.vs*
02-RTSEngine/RTS.DarkRift.Server.LoginServer/bin/

02-RTSEngine/RTS.DarkRift.Server.WorldServer/obj/
02-RTSEngine/RTS.DarkRift.Server.WorldServer/*.svd
02-RTSEngine/RTS.DarkRift.Server.WorldServer/*.userprefs
02-RTSEngine/RTS.DarkRift.Server.WorldServer/*.pidb
02-RTSEngine/RTS.DarkRift.Server.WorldServer/*.suo
02-RTSEngine/RTS.DarkRift.Server.WorldServer/*.user
02-RTSEngine/RTS.DarkRift.Server.WorldServer/*.unityproj
02-RTSEngine/RTS.DarkRift.Server.WorldServer/*.booproj
02-RTSEngine/RTS.DarkRift.Server.WorldServer/.vs*
02-RTSEngine/RTS.DarkRift.Server.WorldServer/bin/


02-RTSEngine/RTS.Server.Messages/obj/
02-RTSEngine/RTS.Server.Messages/*.svd
02-RTSEngine/RTS.Server.Messages/*.userprefs
02-RTSEngine/RTS.Server.Messages/*.pidb
02-RTSEngine/RTS.Server.Messages/*.suo
02-RTSEngine/RTS.Server.Messages/*.user
02-RTSEngine/RTS.Server.Messages/*.unityproj
02-RTSEngine/RTS.Server.Messages/*.booproj
02-RTSEngine/RTS.Server.Messages/.vs*
02-RTSEngine/RTS.Server.Messages/bin/

02-RTSEngine/RTS.Server.Console/obj/
02-RTSEngine/RTS.Server.Console/*.svd
02-RTSEngine/RTS.Server.Console/*.userprefs
02-RTSEngine/RTS.Server.Console/*.pidb
02-RTSEngine/RTS.Server.Console/*.suo
02-RTSEngine/RTS.Server.Console/*.user
02-RTSEngine/RTS.Server.Console/*.unityproj
02-RTSEngine/RTS.Server.Console/*.booproj
02-RTSEngine/RTS.Server.Console/.vs*
02-RTSEngine/RTS.Server.Console/bin/

02-RTSEngine/RTS.Server/obj/
02-RTSEngine/RTS.Server/*.svd
02-RTSEngine/RTS.Server/*.userprefs
02-RTSEngine/RTS.Server/*.pidb
02-RTSEngine/RTS.Server/*.suo
02-RTSEngine/RTS.Server/*.user
02-RTSEngine/RTS.Server/*.unityproj
02-RTSEngine/RTS.Server/*.booproj
02-RTSEngine/RTS.Server/.vs*
02-RTSEngine/RTS.Server/bin/

02-RTSEngine/RTS.Server.GameServer/obj/
02-RTSEngine/RTS.Server.GameServer/*.svd
02-RTSEngine/RTS.Server.GameServer/*.userprefs
02-RTSEngine/RTS.Server.GameServer/*.pidb
02-RTSEngine/RTS.Server.GameServer/*.suo
02-RTSEngine/RTS.Server.GameServer/*.user
02-RTSEngine/RTS.Server.GameServer/*.unityproj
02-RTSEngine/RTS.Server.GameServer/*.booproj
02-RTSEngine/RTS.Server.GameServer/.vs*
02-RTSEngine/RTS.Server.GameServer/bin/

02-RTSEngine/RTS.Server.LoginServer/obj/
02-RTSEngine/RTS.Server.LoginServer/*.svd
02-RTSEngine/RTS.Server.LoginServer/*.userprefs
02-RTSEngine/RTS.Server.LoginServer/*.pidb
02-RTSEngine/RTS.Server.LoginServer/*.suo
02-RTSEngine/RTS.Server.LoginServer/*.user
02-RTSEngine/RTS.Server.LoginServer/*.unityproj
02-RTSEngine/RTS.Server.LoginServer/*.booproj
02-RTSEngine/RTS.Server.LoginServer/.vs*
02-RTSEngine/RTS.Server.LoginServer/bin/

02-RTSEngine/RTS.Server.WorldServer/obj/
02-RTSEngine/RTS.Server.WorldServer/*.svd
02-RTSEngine/RTS.Server.WorldServer/*.userprefs
02-RTSEngine/RTS.Server.WorldServer/*.pidb
02-RTSEngine/RTS.Server.WorldServer/*.suo
02-RTSEngine/RTS.Server.WorldServer/*.user
02-RTSEngine/RTS.Server.WorldServer/*.unityproj
02-RTSEngine/RTS.Server.WorldServer/*.booproj
02-RTSEngine/RTS.Server.WorldServer/.vs*
02-RTSEngine/RTS.Server.WorldServer/bin/


# ===============    #
# Server Project     #
# ===============    #

03-Server/00-DarkRiftServerExecutable/Logs
03-Server/00-DarkRiftServerExecutable/Lib/RTS.*
03-Server/00-DarkRiftServerExecutable/Plugins/RTS.DarkRift.Plugins.dll
03-Server/00-DarkRiftServerExecutable/Plugins/RTS.DarkRift.Plugins.dll

03-Server/03-RTSConsoleServer/RTS.*
03-Server/03-RTSConsoleServer/DarkRift.*

03-Server/03-RTSConsoleServer/MySql.Data.xml
03-Server/03-RTSConsoleServer/MySql.Data.dll
03-Server/03-RTSConsoleServer/Dapper.dll
03-Server/03-RTSConsoleServer/Renci.SshNet.dll
03-Server/03-RTSConsoleServer/Renci.SshNet.xml
03-Server/03-RTSConsoleServer/UnityEngine.dll
03-Server/03-RTSConsoleServer/Dapper.xml

03-Server/01-Servers/LoginServer/Plugins/*.dll
03-Server/01-Servers/WorldServer/Plugins/*.dll
03-Server/01-Servers/GameServer1/Plugins/*.dll

02-RTSEngine/RTS.DarkRift.Plugins/Services/TokenService.cs
