<ServerCustomConfig>
  <Log>
    <!-- Level possible values : DEBUG, INFO, WARNING, ERROR -->
    <Level>DEBUG</Level>
    <!-- Destination possible values : CONSOLE, FILE, FILE_AND_CONSOLE -->
    <Destination>CONSOLE</Destination>
    <OutputDirectory>D:\Unity Prototype\Logs</OutputDirectory>
	<OutputFileName>LoginServerLog</OutputFileName>
  </Log>
  <Database>
    <Host>localhost</Host>
    <Port>3306</Port>
    <DatabaseName>paa2bimh5m</DatabaseName>
    <User>root</User>
    <Password>diabolobeiter</Password>
  </Database>
</ServerCustomConfig> 